@import url("rules_fonts.css");

* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

a {
	text-decoration: none;
}

/* Andrey */
.header {
	width: 100%;
	height: 1024px;
	background-image: url("../imgs/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 1024px;
}

.header .logo {
	width: 180px;
	height: 56px;
	margin: auto;
	margin-left: 200px;
	background-image: url("../imgs/logo.png");
	background-repeat: no-repeat;
	background-size: 180px 56px;
	float: left;
}

.header nav .elements_nav {
	position: absolute;
	top: 0;
	right: 200px;
}

.header nav {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	font: 14px MontserratLight;
}

.header nav a li {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.header nav a {
	display: block;
	float: left;
	line-height: 106px;
}

.header nav li:hover {
	color: #c7b299;
}

.icons_align {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	-ms-align-items: center;
}

.icon_cart, .icon_search {
	float: left;
	cursor: pointer;
}

.icon_cart {
	width: 20px;
	height: 25px;
	background-image: url("../icons/cart.png");
	background-repeat: no-repeat;
	margin-right: 20px;
	margin-left: 50px;
}

.icon_search {
	width: 25px;
	height: 25px;
	background-image: url("../icons/search.png");
	background-repeat: no-repeat;
}

.header .actv_check {
	color: #c7b299;
}

.center_align {
	width: 100%;
	height: 1024px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-ms-align-items: center;
}

.about_the_proj {
	font: 36px RalewayMedium;
}

.main_title {
	font: 52px MontserratExtraBold;
}

.short_info {
	font: 16px RalewayLight;
}

.started_b {
  width: 170px;
  height: 53px;
  margin-top: 50px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font: 14px MontserratExtraBold;
}

.started_b:hover {
	box-shadow: none;
}

/* /Andrey */

/* Ilya Reklam */
.container {
	width: 100%;
	height: 370px;
	position: absolute;
}

.container .block_web {
	width: 270px;
	height: 215px;
	margin: 80px 0px 80px 380px;
	position: absolute;
	text-align: center;
}

.container .block_web .block_icon {
	text-align: center;
}

.container .block_web .block_name {
	margin-top: 20px;
	text-align: center;
	font: 22px "RalewaySemiBold";
}

.container .block_web .block_text {
	text-align: center;
	margin-top: 20px;
	font: 14px "MontserratLight";
}

.container .block_web .block_line {
	margin: 24px auto;
	width: 70px;
	height: 3px;
	background-color: #F1EEE9;
}
/*hover*/
.container .block_web .block_icon:hover {
	text-align: center;
	filter: sepia;
}

.container .block_web .block_name {
	margin-top: 20px;
	text-align: center;
	font: 22px "RalewaySemiBold";
}

.container .block_web .block_text {
	text-align: center;
	margin-top: 20px;
	font: 14px "MontserratLight";
}

.container .block_web .block_line {
	margin: 24px auto;
	width: 70px;
	height: 3px;
	background-color: #F1EEE9;
}

/* /Ilya */

/* Andrey */
.real_youidea {
	width: 100%;
	height: 700px;
}

.wp_theme {
	width: 100%;
	height: 150px;
}
/* /Andrey */