* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

a {
	text-decoration: none;
}

/* Andrey */


/* /Andrey */

/* Ilya */
.container {
	width: 100%;
	height: 370px;
	background-color: #c9c9c9;
}

.container .block {
	background-color: #000;
}
/* /Ilya */
